html body {
    background-color: black;
    color: white;
}

@font-face {
    font-family: Indiana;
    src: url('Indiana.otf');
}

h4 {
    font-family: Indiana;
    text-align: center;
}

.container {
    position: relative;
}

.text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    font-weight: bold;
}

img { 
    height: auto;
}

@media only screen and (max-width: 500px) {
	.text {
		position: relative;
	}

	img {
		width: 100%;
	}